EXPO_PUBLIC_AUTH_PROVIDER=basic
EXPO_PUBLIC_NOTIFICATION_PROVIDER=none

EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

EXPO_PUBLIC_APPWRITE_ENDPOINT=
EXPO_PUBLIC_APPWRITE_PROJECT_ID=

EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=
EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID=
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=pro

EXPO_PUBLIC_ONESIGNAL_APP_ID=

EXPO_PUBLIC_NOVU_API_URL=https://api.novu.co
EXPO_PUBLIC_NOVU_API_KEY=
EXPO_PUBLIC_NOVU_SUBSCRIBER_ID=

EXPO_PUBLIC_SENTRY_DSN=
